body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    font-size: 16px;    }
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-decoration: uppercase; }
ul, li {
    margin: 0;
    padding: 0;
    display: block; }
.container {
    width: 1170px;
    height: auto;
    margin: 0 auto; }

/* индивидуальные настройки */
header {
    height: 100px;
    margin: 0 366px 0px 367px;
    padding: 0;
    background: rgb(32, 29, 27);    }
header a {
    font-family: 'Anton' sans-serif;
    color: rgba(236, 232, 232, 80%);    }
.nav {}
.menu {
    margin-left: 110px;
    display: flex;  }
.menu li {
    margin: 40px 90px 40px 0;   }
.menu a {
    font-size: 20px;
    text-decoration: none;   }
main {
    margin: 0 366px 0 367px;
    background: url('../../images/city_image.jpeg') 0 0/1170px 100% no-repeat;   }
.logo {
    max-width: 200px;
    max-height: 200px;
    margin: auto auto auto 2%;
    padding: 2% 0 0 0;
    opacity: 85%;   }
.logo img {
    border-radius: 100%;
    border: inset 5px rgba(192, 123, 58, 0.664);    }
h1 {
    font-size: 2.8em;
    color: rgba(236, 232, 232, 90%);    }
h2 {
    margin: -40px 0 0 70%;
    font-size: 1.8em;
    color: rgba(236, 232, 232, 65%);    }
h3 {
    margin: 15px 0 6px 20;
    line-height: 1.4;
    color: rgba(236, 232, 232, 70%);    }
p {
    color: rgba(236, 232, 232, 65%);
    line-height: 1.4;
    font-family: 'Roboto', serif;
    margin: 0;  }

.me h1 {
    margin-top: -100px;
    margin-left: 270px;
    padding-left: 2%;
    background: rgba(21, 22, 22, 0.5);

}

.me h2 {
    margin-right: 0px;
}

.container_1 {
    max-height: auto;
    max-width: auto;
    margin-top: 130px;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    background: rgba(10, 9, 9, 0.5);
    border: 0 solid rgb(28, 29, 28);
    border-radius: 20px;
    display: flex;
    justify-content:space-between;
}

.about_me {}

.about_me_p {
    padding-right: 30px;
}

.skills {
    color: rgba(236, 232, 232, 65%);
    line-height: 1.4;
}

.skills ul {}

.skills li {
    width: max-content;
}

.code_example {
    line-height: 1.4;
    margin-left: 0px;
    padding: 0;
}

.code_example h3 {
    margin-left: 200px;
}

.example {
    font-size: 1em;
    margin-left: 100px;
    margin-right: 100px;
    border: inset 3px rgba(56, 57, 61, 0.65);
    opacity: 80%;
}

.code_example_view textarea {
    margin-left: 102px;
    padding-right: 23px;
    border: double 3px rgb(26, 26, 29);
    background: rgba(211, 140, 82, 0.3);
    color:rgba(245, 236, 236, 0.849);
}

.container_2 {
    
    max-width: auto;
    display: flex;
    background: rgba(10, 9, 9, 0.795);
    justify-content:space-between;
    padding-bottom: 10px;
    padding-right: 30px;
    margin-top: 50px;
}

.courses {
    line-height: 1.4;
    margin-left: 20px;
}

.courses a {
    text-decoration: none;
    color: rgba(236, 232, 232, 65%);
    
}

.languages {
    color: rgba(236, 232, 232, 65%);
    line-height: 1.4;
    margin-left: 20px;
}

.languages li {
    margin-right: 25px;
}

.contact {
    line-height: 1.4;
    margin-left: 20px;
}

.contact a {
    text-decoration: none;
    color: rgba(236, 232, 232, 65%);
}

footer {
    width: auto;
    height: 100px;
    background: rgb(32, 29, 27);
    margin: 0px 366px 0px 367px;
    display: flex;
}

footer a {
    color: rgba(236, 232, 232, 80%);
}

.footer_wrap {
    
}