@media (max-width: 768px) {
    .wrapper__header {
        padding: 0 15px 0 15px;
        min-width: 320px;
        display: flex;
        flex-flow: wrap;
        text-align: left;
    }
    .header__ul li {
        margin-top: 25px;
        padding: 0 1.5em;
    }
    .wrapper__main {
        min-width: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container__example { 
        opacity: 80%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    textarea.code-example-view {
        max-width: 400px;
        border: solid 4px rgba(26, 26, 29);
        background: rgba(90, 54, 37, 0.527);
        color: rgba(226, 173, 13, 0.979);
    }
    .container__content {
        max-width: 480px;
        background: rgba(24, 24, 34, 0.699);
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        position: relative;
    }
    .container__example { 
        opacity: 80%;
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
    }
    .container__course {
        max-width: 768px;
        width: auto;
        margin-top: 1em;
        background: rgba(10, 9, 9, 0.795);
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-between; 
    }
    .header__ul li {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 1.5em;
    }
    .footer__ul li {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 1em;
    }
}

@media (max-width: 690px) {
    .transfusion-of-color {
        max-width: 375px;
        font-size: 24px;
    }
}